<div class="container post">

	<div class="background">
		<div class="bg-img" style="background-image:url('{{data.post.image.url}}');">
		</div>
	</div>

	<div class="content">
		<div class="header container">
			<div class="row">
				<div class="column">
					<a class="back" href="/#projects">back to projects</a>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<h1>{{data.post.title}}</h1>
				</div>
			</div>
		</div>
		<div class="container extended-content">
			<div class="row">
				<div class="column">
					{{{data.post.content.extended}}}
					
					<div class="back-btn">
					<a class="back dark" href="/#projects">back to projects</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/post.js"></script>