.post {
  font-family: 'Lato', sans-serif;
  perspective: 1px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%; }
  .post h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    margin: 130px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 20px; }
  .post .back-btn {
    margin-top: 50px; }
  .post .back {
    background: url("/images/back.png") no-repeat left center;
    background-size: 14px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 0.8em;
    color: #fff;
    font-weight: 300; }
    .post .back.dark {
      color: #000;
      background-image: url("/images/back-black.png"); }
  .post .content {
    position: absolute;
    transform: translateZ(0px);
    right: 0;
    left: 0;
    padding-top: 20px;
    line-height: normal;
    height: 100%; }
  .post .row {
    max-width: 55em !important; }
  .post .extended-content {
    background-color: #fff;
    padding-top: 30px;
    height: 100%; }
  .post .background {
    position: absolute;
    transform: translateZ(-1px) scale(2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .post .background .bg-img {
      height: 300px;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); }
  .post .header {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: auto;
    transform: translateZ(-1px); }
    .post .header .header-background {
      height: 200px;
      width: 100%; }
  .post .slideshow {
    max-width: 500px;
    margin: 40px auto; }
    .post .slideshow .slick-list {
      padding: 0 !important; }
    .post .slideshow .slick-slide {
      padding-right: 5px; }
    .post .slideshow .slick-slider {
      margin-bottom: 10px !important; }
    .post .slideshow .slider-nav img {
      max-height: 100px;
      width: initial !important;
      margin-right: 20px !important; }
      .post .slideshow .slider-nav img:hover {
        cursor: pointer; }
    .post .slideshow .slider-nav .slick-slide {
      max-width: 160px; }
